div.form-group
    label(for='item') 10
    input#item.form-control(type='text',
                            placeholder='Deadpool'
                            name='item')
div.form-group
    label(for='item') 9
    input#item.form-control(type='text',
                            placeholder='Passengers' 
                            name='item')
div.form-group
    label(for='item') 8
    input#item.form-control(type='text',
                            placeholder='Finding Dory' 
                            name='item')
div.form-group
    label(for='item') 7
    input#item.form-control(type='text',
                            placeholder='Captain America: Civil War' 
                            name='item')
div.form-group
    label(for='item') 6
    input#item.form-control(type='text',
                            placeholder='The Jungle Book' 
                            name='item')
div.form-group
    label(for='item') 5
    input#item.form-control(type='text',
                            placeholder='Hail Caesar' 
                            name='item')
div.form-group
    label(for='item') 4
    input#item.form-control(type='text',
                            placeholder='10 Cloverfield Lane' 
                            name='item')
div.form-group
    label(for='item') 3
    input#item.form-control(type='text',
                            placeholder='Rogue One' 
                            name='item')
div.form-group
    label(for='item') 2
    input#item.form-control(type='text',
                            placeholder='13th' 
                            name='item')
div.form-group
    label(for='item') 1
    input#item.form-control(type='text',
                            placeholder='Arrival' 
                            name='item')
