div.form-group
    label(for='item') 10
    input#item.form-control(type='text',
                            placeholder='A Tribe Called Quest - We got it from here'
                            name='item')
div.form-group
    label(for='item') 9
    input#item.form-control(type='text',
                            placeholder='Favorite Things - John Coltrane' 
                            name='item')
div.form-group
    label(for='item') 8
    input#item.form-control(type='text',
                            placeholder='Favorite Things - John Coltrane' 
                            name='item')
div.form-group
    label(for='item') 7
    input#item.form-control(type='text',
                            placeholder='Favorite Things - John Coltrane' 
                            name='item')
div.form-group
    label(for='item') 6
    input#item.form-control(type='text',
                            placeholder='Favorite Things - John Coltrane' 
                            name='item')
div.form-group
    label(for='item') 5
    input#item.form-control(type='text',
                            placeholder='Favorite Things - John Coltrane' 
                            name='item')
div.form-group
    label(for='item') 4
    input#item.form-control(type='text',
                            placeholder='Favorite Things - John Coltrane' 
                            name='item')
div.form-group
    label(for='item') 3
    input#item.form-control(type='text',
                            placeholder='Favorite Things - John Coltrane' 
                            name='item')
div.form-group
    label(for='item') 2
    input#item.form-control(type='text',
                            placeholder='Favorite Things - John Coltrane' 
                            name='item')
div.form-group
    label(for='item') 1
    input#item.form-control(type='text',
                            placeholder='Favorite Things - John Coltrane' 
                            name='item')
